@import url(http://fonts.googleapis.com/css?family=Roboto);
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff; }

.info, .name {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1em; }

textarea:focus, input:focus {
  color: white; }

input, select, textarea {
  color: white; }

* {
  padding: 0;
  margin: 0;
  background-color: #2c3e50;
  box-sizing: border-box; }

.info {
  position: absolute;
  bottom: 2%;
  left: 1%;
  background: transparent; }
  .info a {
    color: white; }
    .info a:hover {
      text-decoration: none; }

.name {
  position: absolute;
  bottom: 2%;
  right: 0%;
  width: 20%; }
  .name .loginname {
    padding: 5%;
    border: 1px;
    background: #34495e;
    -webkit-transition: background-color 0.2s;
            transition: background-color 0.2s;
    outline: none; }
    .name .loginname:hover {
      background-color: #b9c8d8; }
  .name .submit {
    border: 1px;
    background: #34495e;
    padding: 5%;
    -webkit-transition: background-color 0.2s;
            transition: background-color 0.2s;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    outline: none; }
    .name .submit:hover {
      background-color: #b9c8d8; }
    .name .submit:active {
      -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
              transform: scale(0.9); }
